<% content_for :title do %>Sample Stripe Stats Dashing Tile<% end %>
<div class="gridster">
	<ul>
		<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
			<div data-id="stripe_stats" data-view="StripeStats" data-title="Business Name"></div>
		</li>
  	</ul>
</div>
